{% extends 'base.html' %}
{%load static%}

{% block 'content' %}
<div class="container">
    <h1 class="text-center mb-3">
        Acerca de Newendo
    </h1>
    <h3 class="col align-self-end">
        El alma es la huella que deja el mundo en nuestro cuerpo
    </h3>
    <h4>
        Newendo<br>
    </h4>
    <p>
        Es una tecnología del yo dedicada a la deconstrucción del ser, a través, del trabajo que se realiza manipulando el 
        sistema nervioso simpático y parasimpático
        Las tecnologías del yo deben reeducar en condiciones propicias, las almas mal formadas que no perciben con atención
        como uno esta circunstanciado por el mundo. Esta reeducacion se lleva a cabo combatiendo:<br>
        • Estenosis<br>
        • Fibrosis<br>
        • Las lordosis: Cifosis y Lordosis<br>
        • Las rotaciones internas de los miembros<br>
        • Los bloqueos diafragmáticos en la inspiración<br>
        • Sacroileítis<br>
        
        Las tecnologias del yo que tiene como base newendo son: 
        • Voluntad de Poder         (Nietzsche)<br>
        • Yoga                      (Patanjali)<br>
        • Método Mezieres           (Françoise Mézières)<br>
        • Fibrolisis Diacutánea     (Kurt-Ekman)<br>
        • Integración Estructural   (Ida Rolf)<br>
        • Vías Anatómicas           (Thomas Myers)<br>
        • Bioenergética             (Alexander Lowen)<br>
        • Anti-gimnasia             (Therese Bertherat)<br>
        • Metodo Feldenkrais        (Moshé Feldenkrais)<br>
    </p>
    <p>
    Newendo nace en el año 2022 buscando entregar una curatoria de tecnologías del Yo, tomando como referentes a los
    siguientes pensadores:<br>
    • Nietzsche<br>
    • Yoga<br>
    • Rolfing<br>
    • Método Mézières<br>
    </p>

    <p>
        Se estima que hasta el 75% de las personas en países de bajos ingresos, que experimentan problemas mentales no tienen
        acceso a profesionales de la salud mental, según el Programa de Acción para la Brecha de Salud Mental de la Organización
        Mundial de la Salud, esto significa que la brecha de tratamiento es enorme. Esta bitacora trata de entregar herramientas 
        para luchar contra el cansancio lo que creemos repercute enormemente en esta problema que es la salud mental en el presente.
    </p>
    <div data-aos="zoom-in" data-aos-duration="1300" class="container">
        <div class="col-4 offset-4">
            <img src="{% static 'DaVinci.jpg' %}" alt="logo" class="img-fluid mt-3 mb-3">
        </div>
    </div>
        <p>
            06:00 Es cuando uno tiene más cortisol en el cuerpo<br>
            06:45 Aumenta la presión arterial<br>
            07:30 La glándula pineal finaliza la producción de melatonina<br>
            
            08:30 Movimientos intestinales que facilitan la mejor asimilación de los alimentos<br>
            09:00 Aumento de la testosterona. Realizar ejercicios de intervalos por la mañana<br>
            10:00 Mayor atención y capacidad cognitiva<br>
            
            14:30 Capacidad motora<br>
            15:30 Menor tiempo de reacción a los estimulos<br>
            17:00 Mayor eficiencia muscular y cardiovascular<br>
            
            18:30 Mayor presión arterial<br>
            19:30 Mayor temperatura<br>
            
            21:00 La glandula pineal empieza a producir melatonina<br>
            22:30 Supresión de movimientos intestinales<br>
            23:00 Dormir
        </p>
    </div>
</div>
{% endblock %}

