{% extends 'base.html' %}
{%load static%}

{% block 'content' %}
<div class="container">
    <h2 class="text-center mb-3" id="titulo">
        Newendo
    </h2>
    <h6 class="text-end mb-3">
        El alma es la huella que deja el mundo en nuestro cuerpo.<br>
        Nietzche
    </h6>
    <p>
        Es una tecnología del yo dedicada a la deconstrucción del ser, enfocandose en los asuntos fundamentales de la vida,
        las cuales son las cosas más cercanas e inmediatas, las condiciones de existencia del individuo, en nuestro caso son: 
        el cuerpo, el alma, la alimentación y el clima. El preocuparse individualmente de estos factores es fundamental para recobrar 
        la salud perdida.<br>
        De especial importancial es el trabajo que se realiza manipulando el sistema nervioso simpático y parasimpático.
        Las tecnologías del yo deben reeducar en condiciones propicias, las almas mal formadas que no perciben con atención
        no restringida como uno esta circunstanciado por el mundo. Esta reeducacion se lleva a cabo combatiendo las 
        condiciones de existencia actuales por unas más favorables.<br>
        En el cuerpo el Newen debe fluir sin ninguna dificultad, lo que rara vez sucede, por lo que se debe combatir 
        las siguientes problematicas:<br>
        • Estenosis: Estrechez, estrechamiento de un orificio o conducto.<br>
        • Fibrosis: Formación patológica de tejido fibroso.<br>
        • Las lordosis:<br>
        &nbsp;&nbsp;&nbsp;&nbsp; Cifosis: Curvatura anormal, hacia atrás, de la región dorsal de la columna vertebral.<br>
        &nbsp;&nbsp;&nbsp;&nbsp; Lordosis: Curvatura anormal hacia delante de la región lumbar de la columna vertebral.<br>
        • Las rotaciones internas de los miembros<br>
        • Los bloqueos diafragmáticos en la inspiración<br>
        • Sacroileítis: inflamación de la articulación sacroilíaca<br>
        
        Las tecnologias del yo que tiene como base newendo en orden de importancia son:<br>
        • Voluntad de Poder<br>
        • Yoga<br>
        • Método Mezieres<br>
        • Fibrolisis Diacutánea<br>
        • Integración Estructural<br>
        • Vías Anatómicas<br>
        • Bioenergética<br>
        • Anti-gimnasia<br>
        • Metodo Feldenkrais<br>
    </p>


    <p>
        Se estima que hasta el 75% de las personas en países de bajos ingresos, que experimentan problemas mentales no tienen
        acceso a profesionales de la salud mental, según el Programa de Acción para la Brecha de Salud Mental de la Organización
        Mundial de la Salud, esto significa que la brecha de tratamiento es enorme. Esta bitacora trata de entregar herramientas 
        para luchar contra el cansancio lo que creemos repercute enormemente en esta problema que es la salud mental en el presente.
    </p>
    <div data-aos="zoom-in" data-aos-duration="1300" class="container">
        <div class="col-4 offset-4">
            <img src="{% static 'DaVinci.jpg' %}" alt="logo" class="img-fluid mt-3 mb-3">
        </div>
    </div>
        <p>
            06:00 Es cuando uno tiene más cortisol en el cuerpo<br>
            06:45 Aumenta la presión arterial<br>
            07:30 La glándula pineal finaliza la producción de melatonina<br>
            
            08:30 Movimientos intestinales que facilitan la mejor asimilación de los alimentos<br>
            09:00 Aumento de la testosterona. Realizar ejercicios de intervalos por la mañana<br>
            10:00 Mayor atención y capacidad cognitiva<br>
            
            14:30 Capacidad motora<br>
            15:30 Menor tiempo de reacción a los estimulos<br>
            17:00 Mayor eficiencia muscular y cardiovascular<br>
            
            18:30 Mayor presión arterial<br>
            19:30 Mayor temperatura<br>
            
            21:00 La glandula pineal empieza a producir melatonina<br>
            22:30 Supresión de movimientos intestinales<br>
            23:00 Dormir
        </p>
    </div>
</div>
{% endblock %}

