{% extends 'base.html'%}

{% block 'content' %}
<div class="container">
    <div class="col-12 col-md-6 offset-0 offset-md-3 mt-4 mb-4">
        <h3 class="text-center">
            Nadie es due­ño de vivir en todas partes; y quien ha de solucionar grandes tareas que exigen toda su fuerza tiene aquí
            incluso una elec­ción muy restringida. La influencia del clima sobre el meta­bolismo, sobre su retardación o su
            aceleración, llega tan lejos que un desacierto en la elección del lugar y del clima no sólo puede alejar a cualquiera de
            su tarea, sino llegar incluso a sustraérsela del todo: no consigue verla jamás. El vigor ani­mal no se ha hecho nunca en
            él lo bastante grande para al­canzar aquella libertad desbordante que penetra hasta lo más espiritual y en la que
            alguien conoce: esto sólo yo puedo hacerlo. Una inercia intestinal, aun muy pequeña, conver­tida en un mal hábito basta
            para hacer de un genio algo me­diocre, algo «alemán»; el clima alemán, por sí solo, es su­ficiente para desalentar a
            intestinos robustos e incluso nacidos para el heroísmo. El tempo [ritmo] del metabolismo mantiene una relación precisa
            con la movilidad o la torpeza de los pies del espíritu; el «espíritu» mismo, en efecto, no es más que una especie de ese
            metabolismo. Examinemos en qué lugares hay y ha habido hombres ricos de espíritu, don­de el ingenio, el refinamiento, la
            maldad formaban parte de la felicidad, donde el genio tuvo su hogar de manera casi necesaria: todos ellos poseen un aire
            magníficamente seco. Pa­rís, la Provenza, Florencia, Jerusalén, Atenas... estos nom­bres demuestran una cosa: el genio
            está condicionado por el aire seco, por el cielo puro, es decir, por un metabolismo rápido, por la posibilidad de
            recobrar una y otra vez cantida­des grandes, incluso gigantescas, de fuerza. Tengo ante mis ojos un caso en que un
            espíritu dotado de una constitución notable y libre se volvió estrecho, encogido, se convirtió en un especialista y en
            un avinagrado, meramente por falta de finura de instintos en asuntos climáticos. Y yo mismo habría acabado por poder
            convertirme en ese caso si la enfermedad no me hubiera forzado a razonar, a reflexionar sobre la ra­zón que hay en la
            realidad. Ahora que, tras prolongada ejer­citación, leo en mí mismo como en un instrumento muy delicado y fiable los
            influjos de origen climático y mete­orológico, y ya en un pequeño viaje, de Turín a Milán por ejemplo, calculo
            fisiológicamente en mí la variación de grados en la humedad del aire, pienso con terror en el hecho siniestro de que mi
            vida, exceptuando estos diez últimos años, no ha transcurrido más que en lugares falsos y real­mente prohibidos para mí.
            Naumburgo, Schulpforta, Turin­gia en general, Leipzig, Basilea... otros tantos lugares nefas­tos para mi fisiología. Si
            yo no tengo ni un solo recuerdo agradable de mi infancia ni de mi juventud, sería una estupi­dez aducir aquí las
            llamadas causas «morales», por ejem­plo, la indiscutible falta de compañía adecuada, pues esta falta existe ahora como
            ha existido siempre, sin que ella me impida ser jovial y valiente. La ignorancia in physiologicis [en cuestiones de
            fisiología] –el maldito «idealismo»– es la auténtica fatalidad en mi vida, lo superfluo y estúpido en ella, algo de lo
            que no salió nada bueno y para lo cual no hay ninguna compensación, ningún descuento. Por las conse­cuencias de este
            «idealismo» me explico yo todos los desa­ciertos, todas las grandes aberraciones del instinto y todas las «modestias»
            que me han apartado de la tarea de mi vida; así, por ejemplo, el haberme hecho filólogo; ¿por qué no, al menos, médico o
            cualquier otra cosa que abra los ojos? En mi época de Basilea toda mi dieta espiritual, incluida la distribución de la
            jornada, fue un desgaste completamente insensato de fuerzas extraordinarias, sin tener una recupe­ración de ellas que
            cubriese de alguna manera aquel consu­mo, sin siquiera reflexionar sobre el consumo y su compen­sación. Faltaba todo
            cuidado de sí un poco más delicado, toda protección procedente de un instinto que impartiese órde­nes, era un
            equipararse a cualquiera, un «desinterés», un ol­vidar la distancia propia, algo que no me perdonaré jamás. Cuando me
            encontraba casi al final comencé a reflexionar, por el hecho de encontrarme así, sobre esta radical sinrazón de mi vida.
            el «idealismo». la enfermedad fue lo que me condujo a la razón.
        </h3>
        <div class="text-center">
            <a href="{% url 'indice' %}" class="btn btn-primary">
                Volver al inicio
            </a>
        </div>
    </div>
</div>
{% endblock %}