{% load static %}
{% block 'footer' %}

<div class="container" data-aos="flip-down" data-aos-duration="2200" id="degradado"></div>
    <footer class="py-5" id="degradado">
        <div class="row">
            <div class="col-2">
                <h5>Descubrir</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Nosotros</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cuerpo</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Alimentación</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Clima</a></li>
                </ul>
            </div>

            <div class="col-4 offset-6">
                <form>
                    <h5>Suscríbete a nuestro newsletter</h5>
                    <p>Recibe contenido sobre tecnologias del yo, alimentación, Clima y otros consejos para mejorar tu Energía</p>
                    <div class="d-flex w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">victorpenafiel@gmail.com</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Correo Electrónico">
                        <button class="btn btn-primary" type="button">Suscribirse</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <span class="text-muted">&copy; 2021 Newendo, creado por:
                    <a href="https://www.tusitioweb3.cl">
                        Tu sitio Web 3
                    </a>
                </span>
            </div>
        </div>
    </footer>
</div>

{% endblock %}