{% extends 'base.html' %}
{% load static %}

{% block 'content' %}
<div class="container" >
    <div class="row">
        <div data-aos="flip-up" data-aos-duration="1300" class="h-100 p-2 text-dark bg-warning rounded-3 mb-4">
            <h2>
                Newendo
            </h2>
            <p>
                Newendo es una tecnología del yo dedicada a la deconstrucción del ser, enfocandose en los asuntos 
                fundamentales de la vida, las cuales son las cosas más cercanas e inmediatas como son la morfologia del cuerpo, del alma, de la alimentación y del clima.
            <a href="{% url 'acerca' %}" class="btn btn-outline-dark">
                Conoce más
            </a>
        </div>
        
        <section style="text-align: center;">
            <h2 id = "titulo">Nuestros pilares</h2>
                <h7 class="text-align: center;">
                    El alma es la huella que deja el mundo en nuestro cuerpo<br>
                </h7>
        </section>
        
        <div data-aos="flip-up" data-aos-duration="1300" class="dropdown-menu p-2 shadow rounded-3" style="width: 200px"
            id="dropdownCalendar">
            <div class="d-grid gap-1">
                <div style="text-align: center;">
                    <i class="fas fa-solid fa-person fa-4x my-4"></i>
                    <h4 style="margin-top: 0.25em;">Cuerpo</h4>
                    <p>Conocer nuestro cuerpo y ser capaz de habitarlo, de entender cómo las diferentes partes se conectan entre
                    sí, de reconocer y despertar las zonas que han perdido movilidad.</p>
                </div>
            </div>
        </div>
        <div data-aos="flip-up" data-aos-duration="1300" class="dropdown-menu p-2 shadow rounded-3" style="width: 200px"
            id="dropdownCalendar">
            <div class="d-grid gap-1">
                <div style="text-align: center;">
                    <i class="fas fa-solid fa-bowl-rice fa-4x my-4"></i>
                    <h4 style="margin-top: 0.25em;">Alimentación</h4>
                    <p>Hay que ser más conscientes de la relación entre la dieta y el newen corporal.</p>
                </div>
            </div>
        </div>
        <div data-aos="flip-up" data-aos-duration="1300" class="dropdown-menu p-2 shadow rounded-3" style="width: 200px"
            id="dropdownCalendar">
            <div class="d-grid gap-1">
                <div style="text-align: center;">
                    <i class="fas fa-duotone fa-yin-yang fa-4x my-4"></i>
                    <h4 style="margin-top: 0.25em;">Alma</h4>
                    <p>El Alma es engendrado desde el conflicto continuo entre lo apolíneo y lo dionisiaco. Ser y no ser, esa es
                        la cuestión</p>
                </div>
            </div>
        </div>
        <div data-aos="flip-up" data-aos-duration="1300" class="dropdown-menu p-2 shadow rounded-3" style="width: 200px"
            id="dropdownCalendar">
            <div class="d-grid gap-1">
                <div style="text-align: center;">
                    <i class="fas fa-solid fa-cloud-sun-rain fa-4x my-4"></i>
                    <h4 style="margin-top: 0.25em;">Clima</h4>
                    <p>La influencia del clima sobre el newen corporal, sobre su retardación o su aceleración.</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="1400" class="container" id="degradado">
            <div class="col-12 col-md-6 offset-0 offset-md-3 mt-4 mb-4">
                <h3 class="text-center" id="titulo2">
                    Newendo: El camino de la energía.
                </h3>
                <div data-aos="flip-up" data-aos-duration="1300" class="dropdown-menu p-2 shadow rounded-3" style="width: 365px"
                    id="dropdownCalendar">
                    <div class="d-grid gap-1">
                        <div style="text-align: center;">
                            <i class="fas fa-solid fa-arrows-to-circle fa-4x my-4"></i>
                            <p>El Newen en el centro, construido por los aspectos morfologicos del cuerpo,
                                del alma, de la alimentación y del clima...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div data-aos="zoom-in-left" data-aos-duration="1500" class="col-10 col-sm-8 col-lg-6">
                    <img src="{% static 'DaVinci.jpg' %}"  class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="315"
                        height="105" loading="lazy">
                </div>
                <div  data-aos="zoom-in-right" data-aos-duration="1500" class="col-lg-6">
                    <h5 class="display-7 fw-bold lh-3 mb-3" id ="titulo2">El trabajo se realiza manipulando el sistema nervioso simpático y parasimpático.</h5>
                    <h7 class="container">Las tecnologías del yo deben reeducar en condiciones propicias, las almas mal formadas que no perciben con atención no
                    restringida como uno esta circunstanciado por el mundo. Esta reeducacion se lleva a cabo combatiendo las condiciones de
                    existencia actuales por unas más favorables.<h7>
                    <br>
                    <div class="d-grid gap-8 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-primary btn-lg px-7 me-md-1">
                            <a href="{% url 'acerca' %}" class="btn btn-primary">
                                Más información
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="1400" class="container">
            <div class="col-12 col-md-6 offset-0 offset-md-3 mt-4 mb-4">
                <h3 class="text-center" id="titulo2">
                    Newendo, el camino de la energía.
                </h3>
                <div class="text-center">
                    <a href="{% url 'indice' %}" class="btn btn-primary">
                        Volver al inicio
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}